<!DOCTYPE html>
<html lang="en">

	<head>
		<%= render 'admin/layouts/head' %>
	</head>

	<body>
		<%= render 'admin/layouts/navbar' %>
		<%= render 'admin/layouts/sidebar' %>
		<%= yield %>
		<%= render 'admin/layouts/include_js' %>
	</body>

</html>