<!DOCTYPE html>
<html lang="en">

	<head>
		<%= render 'admin/layouts/head' %>
		<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<%= render 'admin/layouts/navbar' %>
		<%= render 'admin/layouts/sidebar' %>
		<main class="content">
			<%= render 'admin/home/navbar' %>
			<%= yield %>
		</main>
		<%= render 'admin/layouts/footer' %>
		<%= render 'admin/layouts/include_js' %>
	</body>

</html>