<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
    <h2 class="h4">All Users</h2>
  </div>
</div>

<%= form_tag admin_users_path, method: :get, name: "search_form" do %>
  <div class="table-settings mb-4">
    <div class="row align-items-center justify-content-between">
      <div class="col col-md-6 col-lg-3 col-xl-4">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
          <%= submit_tag 'search', class: "btn btn-primary btn-sm mr-2" do %><button type="button" class="btn btn-default">検索</button><% end %>
        </div>
      </div>
      <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">
        <div class="btn-group">
          <%= select_tag :display_count, options_for_select([["10", "10"],["20", "20"],["30", "30"]], selected: params[:display_count]), {prompt: "Show", class: "form-control"} %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="btn-toolbar dropdown">
      <button class="btn btn-primary btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fas fa-plus mr-2"></span>New
      </button>
      <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
          <%= link_to new_admin_user_path, class: "dropdown-item font-weight-bold" do %><span class="fas fa-tasks"></span>New User<% end %>
          <% if false %>
            <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-cloud-upload-alt"></span>Upload Files</a>
            <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-user-shield"></span>Preview Security</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-rocket text-danger"></span>Upgrade to Pro</a>
          <% end %>
      </div>
  </div>
  <div class="btn-group">
      <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
  </div>
</div>

<div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td>
                  <span class="font-weight-normal"><%= user.email %></span>
              </td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon icon-sm">
                      <span class="fas fa-ellipsis-h icon-dark"></span>
                    </span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <%= link_to [:admin, user], class: "dropdown-item" do %><span class="fas fa-eye mr-2"></span>View Details<% end %>
                    <%= link_to edit_admin_user_path(user), class: "dropdown-item" do %><span class="fas fa-edit mr-2"></span>Edit<% end %>
                    <%= button_to [:admin, user, page: params[:page]], class: "dropdown-item text-danger", method: :delete do %><span class="fas fa-trash-alt mr-2"></span>Remove<% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
      <nav aria-label="Page navigation example">
        <%= paginate @users, window: 2 %>
      </nav>
    </div>
    <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
      <div class="font-weight-bold small"><%= page_entries_info @users %></div>
    </div>
</div>

<script>
  const selectElement = document.querySelector('#display_count');

  selectElement.addEventListener('change', (event) => {
    document.search_form.submit();
  });
</script>