<div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Column</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td><%= @blog.id %></td>
            </tr>
            <tr>
                <td>Image</td>
                <td><%= image_tag @blog.image.present? ? @blog.image.url : "noimage.png" %></td>
            </tr>
            <tr>
                <td>Public Setting</td>
                <td><%= @blog.is_public ? "Public" : "Private" %></td>
            </tr>
            <tr>
                <td>Title</td>
                <td><%= @blog.title %></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><%= @blog.content %></td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<%= link_to edit_admin_blog_path(@blog), class: "btn btn-success" do %><span class="fas fa-edit mr-2"></span>Edit<% end %> |
<%= link_to admin_blogs_path, class: "btn btn-gray" do %><span class="fas fa-list mr-2"> List</span> <% end %>
